@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.btn-tabela{
    margin-top: 5em;
    margin-bottom: 4em;
}

.top-tabela{
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
}
